# Environment & secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc

# Testing
.pytest_cache/
htmlcov/
.coverage

# Project Plans
project_roadmap.md
